body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
}

.photo {
    width: 150px;
    height: 150px;
    background-image: url('C:\Users\M S I\Desktop\Abdeltif\noamani.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%; /* Pour obtenir une forme de cercle */
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

section {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h2 {
    background-color: #f0f0f0;
    margin: 0;
    padding: 10px;
    cursor: pointer;
}

.content {
    padding: 10px;
    display: none;
}
